# Virtual Environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.spec
*.exe
logo.png

# Build artifacts
build/
dist/
*.egg-info/

# Lokale Konfigurationsdateien
.vscode/

# Projektspezifische Datenordner
Grafiken/
stücklisten/